* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    padding: 20px;
}

.container {
    background: #e6e6e6;
    padding: 15px;
    border: 3px solid #f5b041;
}


.header-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.header {
    background: #ffda06;
    color: #fff;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.nav {
    background: #ed5104;
    color: #fff;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.nav-right {
    background: #5dade2;
}


.content {
    display: flex;
    gap: 15px;
}


.sidebar {
    background: linear-gradient(#f39c12, #e67e22);
    padding: 10px;
    width: 200px;
    color: #fff;
}

.nav-item {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar div {
    margin-bottom: 8px;
    padding: 8px;
    background: rgba(0,0,0,0.2);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
}


.top {
    background: #e74c3c;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.middle {
    display: flex;
    gap: 10px;
}

.gallery {
    background: #3498db;
    color: #fff;
    padding: 20px;
    flex: 1;
}

.widget {
    background: #8e44ad;
    color: #fff;
    padding: 20px;
    flex: 1;
}


.cards {
    background: #423a1b;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background: #006edd;
    color: #fff;
    padding: 15px;
    flex: 1;
    text-align: center;
}

.card-c {
    background-color: #e74c3c;
    width: 50px;
    height: 50px;
}
.card-a {
    background: #e67e22;
    width: 50px;
    height: 50px;
}

.boxmain {
    background-color: #1182f3;
    width: 100%;
    height: 50px;
    padding: 15px;
}

.cards1 {
    background-color: yellow;
    width: 50px;
    height: 50px;
}
